*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

body{
    font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
    text-align: center;
    padding-top: 20%;
    background: #5d9ab2 url("./assets/man_lift.svg") no-repeat center;
    background-size: 800px 600px;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}

html {
    font-size: 62.5%; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 56.25%; } }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 50%; } }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 75%; } }

.form__input {
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            margin: 1rem;
            padding: 1.5rem 2rem;
            border-radius: 2px;
            background-color: rbga(#fff, 0.5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 90%;
            display: block;
            transition: all .3s; }

            .btn, .btn:link, .btn:visited {
                text-transform: uppercase;
                text-decoration: none;
                padding: 1.5rem 4rem;
                display: inline-block;
                border-radius: 10rem;
                transition: all .2s;
                position: relative;
                font-size: 1.6rem;
                border: none;
                cursor: pointer; }

                .heading{
                    font-size: 3rem;
                }